<h1>お問い合わせ</h1>

<div class="mt-3">
  <%= form_with(model: @contact, local: true) do |form| %>
    <div class="form-group mb-4">
      <label for="contact_name">お名前</label>
      <%= form.text_field :name, id: :contact_name, class: "form-control w-50", placeholder: "お名前" %>
    </div>

    <div class="form-group mb-4">
      <label for="contact_email">メールアドレス</label>
      <%= form.text_field :email, id: :contact_email, class: "form-control w-50", placeholder: "メールアドレス" %>
    </div>

    <div class="form-group mb-4">
      <label for="contact_body">お問い合わせ内容</label>
      <%= form.text_area :body, id: :contact_body, class: "form-control", placeholder: "お問い合わせ内容" %>
    </div>

    <div class="actions">
      <%= form.submit '送信', class: "btn btn-outline-dark" %>
    </div>
  <% end %>
</div>
