<div class="cover">
  <%= search_form_for @q do |f| %>
    <div class="d-flex bd-highlight">
      <div class="flex-grow-1"></div>
      <div><%= f.search_field :name_cont, class: "form-control" , placeholder: "ホテル名" %></div>
      <div class="px-1"><%= f.search_field :prefecture_name_cont, class: "form-control" , placeholder: "都道府県名" %></div>
      <div><%= f.submit '検索', class: "btn btn-outline-dark" %></div>
    </div>
  <% end %>
</div>

<h1>ホテル一覧</h1>

<% @hotels.in_groups_of(3) do |group| %>
  <div class="row mt-3">
    <% group.compact.each do |hotel| %>
      <div class="card card-hotel col-md-4 my-1 p-0">
        <img src="<%= hotel.picture_url %>" class="card-img w-100" />
        <div class="card-img-overlay d-flex align-items-start flex-column p-0 m-0">
          <h5 class="card-title mb-auto w-100 mb-auto text-center text-hotel"><%= link_to hotel.name, hotel_path(hotel), class: "text-white stretched-link" %></h5>
          <div class="card-text row w-100 m-0 text-center">
          <% if hotel.review_average > 9.0 %>
            <p class="text-hotel w-50 m-0"><%= hotel.review_average %>　最高</p>
          <% elsif hotel.review_average > 7.0 %>
            <p class="text-hotel w-50 m-0"><%= hotel.review_average %>　素晴らしい</p>
          <% elsif hotel.review_average > 5.0 %>
            <p class="text-hotel w-50 m-0"><%= hotel.review_average %>　良い</p>
          <% else %>
            <p class="text-hotel w-50 m-0"><%= hotel.review_average %></p>
          <% end %>
            <p class="text-hotel w-50 m-0"><%= hotel.prefecture&.name %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
